**In this Tutorial we will do some basic arithmetic operation in python 3.x**

In [1]:
#Integer number
x = 9
y = 6

#Float number
a = 3.5
b = 6.3

## ** ADD **

In [2]:
x + y

15

In [3]:
a + b

9.8

## ** Substract **

In [4]:
x - y

3

In [5]:
y - x

-3

In [6]:
a - b

-2.8

In [7]:
b - a

2.8

## ** Multiply **

In [8]:
x * y

54

In [9]:
a * b

22.05

## ** x Power y**

In [10]:
x ** y #pow(x,y)

531441

In [11]:
b ** a

627.6129889642979

## ** Divide **

In [12]:
x / y

1.5

In [13]:
a / b

0.5555555555555556

In [14]:
b / a

1.8

## ** Floor Division ** 

In this division result will be a whole number. That is if 8 // 3 = 2 (8/3 = 2.66)

In [15]:
x // y

1

In [16]:
y // x

0

In [17]:
a // b

0.0

In [18]:
b // a

1.0

## ** Remainder **

In [19]:
x % y

3

In [20]:
y % x

6

In [21]:
a % b

3.5

In [22]:
b % a

2.8

 ## ** Below arthmetic operation try to perform with string **

- Only multiply will work only *if number is int*, other will give error

In [23]:
"Hello" * y  # In this case it will print hello y times i.e. 6 times

'HelloHelloHelloHelloHelloHello'

In [24]:
"Hello" * a #can't performe multiply with float

TypeError: can't multiply sequence by non-int of type 'float'

In [25]:
"Hello" / x # can't performe division

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [26]:
"Hello" + x # can't performe addition

TypeError: must be str, not int

In [27]:
"Hello" ** x # can't performe power

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'